## .NET
bin/
obj/
*.user
*.suo
*.userosscache
*.sln.docstates
.vs/
publish/
*.DotSettings.user

## NuGet
**/packages/*
*.nupkg
**/[Pp]ackages/
project.lock.json

## Build results
[Dd]ebug/
[Rr]elease/
x64/
x86/
build/
bld/

## IDE
.idea/
*.swp
*~

## OS
Thumbs.db
.DS_Store

## Project specific

